// jeet Init config

@import 'jeet'

edit(black)

section
	center(920px)
	padding-bottom 20px
	article
		center(880px)
	#uno
		padding-top 20px
		div
			col(1/4)
			img
				width 100%
	#dos
		padding-top 20px
		.nest1
			padding-top 20px
			col(1/2 3/3, cycle: 2)
			div
				padding-top 20px
				center(90%, cycle: 1)
				img
					width 100%
